<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>When Can I PLAY It Reminder</title>
        {{>style}}
    </head> 
    <body>
        <div class="main-container">
            <div class="header">
                <img src="cid:logo">
            </div>
            <div class="content">
                <div class="text">
                    <h1>Greetings, {{ nick }}</h1>
                    <p>Some of the games you are following on WhenCanIPLAYIt are getting released today!</p>
                    <ul class="games-list">
                        {{#each dates}}
                            <li>{{ this.game.name }} - {{ this.platform.name }}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="bottom-text">
                <p>If you wish to not receive those notifications you can change your user settings at <a href="#">www.WhenCanIPLAYIt.com</a></p>
            </div>
        </div>
    </body>
</html>
