@mixin hoverTransition {
    transition: opacity .5s ease;
    background-color: transparent;
}

@mixin onHover {
    opacity: 0.65;
}

@mixin ratingColor {
    @for $i from 1 through 100 {
        .r#{$i} {
            $hue: 120 * ($i / 100);
            background-color: hsl($hue,100%,50%);
        }
    }
}