@mixin hoverTransition {
    transition: opacity .5s ease;
    background-color: transparent;
}

@mixin onHover {
    opacity: 0.65;
}

@mixin game-box {
    border-radius: 3px;
    padding:0;
    margin-left: 10px;
    margin-right: 10px;
    
    background-color: #161618;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);    
    
    max-height: 380px;  
    max-width: 200px;
    min-width: 180px;

    .image-box {
        @include hoverTransition();
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        min-height: 200px;
        &:hover {
            @include onHover();           
        }

        img {
            min-height: 253px;
            max-height: 253px;
            object-fit: fill;
            vertical-align: middle;
            border: 0;
            transition: opacity 1s;
            opacity: 1;
            height: 100%;
            width: 100%;
            position: relative;
            border-radius: 3px 3px 0 0;
        }
    }

    .slider-bar {
        height: 3px;     
        width: 100%;
    }

    .title-box {
        padding: 7px 8px 8px 10px;
        display: inline-block;
        width: calc(100% - 40px);

        .main-title {
            @include hoverTransition();
            cursor: pointer;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
            overflow: hidden;

            &:hover {
                @include onHover();
                color: #e8e5e07e;
            }            
        }

        .sub-title {
            display: block;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #999;
        }
    }

    .follow-box {
        @include hoverTransition();

        float: right;
        padding-right: 10px;
        padding-top: 14px;
        cursor: pointer;

        &:hover {
            @include onHover();
        }   
    }
}

@mixin ratingColor {
    @for $i from 1 through 100 {
        .r#{$i} {
            $hue: 120 * ($i / 100);
            background-color: hsl($hue,100%,50%);
        }
    }
}