@import "_variables.scss";
@import "_mixins.scss";

.divider {
    margin-top: 10px;
    border-bottom: 1px solid #494a4f;
    margin-bottom: 1.5%;
}
.game-row-bar {
    cursor: pointer;
    display: inline-block;    
    width: 4px;
    height: 100%;
}

.red-bar {
    background-color: #da1106;
}

.green-bar {
    background-color: #00ff15;
}

.purple-bar {  
    background-color: #9b0efe;
}