@import "_variables.scss";
@import "_mixins.scss";

.header {
    top: 0;
    z-index: 9;
    width: 100%;
    height: $header_height;
    background: $uiColor;
    position: fixed;

    #rowheader {
        width: 100%;
        margin: 0;
        position: relative;
    }   
    
    #top-brand {
        position: absolute;
        left: 50%;
        margin-left:-76px;
    }

    .content-header-bottom {
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        border-top: 36.6px solid #101012;
        filter: drop-shadow(0 2px 4px rgba(22,22,24,.25));
        position: absolute;
        top: 50px;
        z-index: -1;
        right: calc(50% - 65px);
        margin-left: auto;
        margin-right: auto;
    }
    
    .background-image {
        background: black;
    }

    .logo img{
        @include hoverTransition();
        height: 66px;
        user-select: none;
        &:hover {
            @include onHover();
        }
    }
}

.bm-menu {
    box-shadow: rgba(0, 0, 0, 0.5) 6px 0px 10px 0px;
}

.bm-burger-button {
    @include hoverTransition();
    position: absolute;
    width: 35px;
    height: 30px;
    left: 14px;
    top: 10px;
    cursor: pointer;
    z-index: 10;

    &:hover {
        @include onHover();
    }
}

.bm-burger-bars {    
    height: 12%;
    border-radius: 2px;
	background-color: #d9d9d9;
}

.bm-item-list {
    margin-left: 0;

    .router-link-exact-active {
        background-color: #0603038f !important;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);  
    }

    .sidebar-option {
        @include hoverTransition();

        &:hover {
            background-color: #bbbbbb2e;
        }
    }

    svg {    
        margin-top: 5px;
        width: 10% !important;
    }

    a { 
        text-decoration: none !important;
        color: white !important;  
    }

    a .router-text {
        margin-left: 10% !important;
        width: 90% !important;
    }

    .sidebar-login, .sidebar-logout {
        @include hoverTransition();
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 58px;
        padding-left: 38%;
        font-weight: bold;
        white-space: nowrap;
        border-radius: 1px;
        box-shadow: 0 9px 16px 10px rgba(0, 0, 0, 0.5);

        &:hover {
            @include onHover();
        }
    }

    .sidebar-login {   
        background-color: #39A273;
    }

    .sidebar-logout {   
        background-color: #bd1516;
    }

    .welcome-msg {
        position: absolute;
        bottom: 60px;
        width: 100%;
        max-height: 58px;
        font-weight: bold;
        white-space: nowrap;
        font-size: 14px;

        .avatar {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        a {
            cursor: default;
            padding-left: 15px;
            padding-top: 9px;
        }

        svg {
            @include hoverTransition();
            cursor: pointer;
            margin-top: 9px;
            height: 20px !important;    
            width: 100% !important;
            margin-left: 6px;

            &:hover {
                @include onHover();
            }
        }
    }
}