@import "_variables.scss";
@import "_mixins.scss";

.divider {
    margin-top: 10px;
    border-bottom: 1px solid #494a4f;
    margin-bottom: 1.5%;
}

.red-bar {
    background-color: #da1106;
    height: 4px;
    width: 100%;
}

.green-bar {
    background-color: #00ff15;
    height: 4px;
    width: 100%;
}

.purple-bar {  
    width: 4px;
    height: 60px;
    background-color: #9b0efe;
}