@import "_variables.scss";
@import "_mixins.scss";
@import "common.scss";

.divider {
    margin-bottom: 4px !important;
}

.filters-bar {
    font-size: 13px;
    color: #8b9197;
}

.multiselect {
    width: 200px !important;
    float: left;

    .multiselect__content-wrapper {
        max-width: 33vw;
        width: unset;
        display: inline-block;
        background-color: #535459 !important;
        border-left: 4px solid rgba(115, 144, 151, 0.15) !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        overflow-x: hidden;
        a {
            cursor: pointer;
            color: #e8e5e0;
        }
    }

    .multiselect__content {
        display: unset !important;
    }


    .multiselect__select {
        @include hoverTransition();

        &:hover {
            @include onHover();
        }
    }

    .multiselect__element {
        color: white !important;
        display: block !important;
        overflow-x: hidden;
    }

    .multiselect__option--selected {
        background: transparent;
        color: white;
        
        &:after {
            background: #535459;
        }
    }

    .multiselect__tags {
        @include hoverTransition();
        background: transparent !important;
        border: 0 !important;

        .multiselect__placeholder {
            @include hoverTransition();
            cursor: pointer;
            display: inline-flex;

            &:hover {
                @include onHover();
            }
        }
    }

    .multiselect__single {
        @include hoverTransition();
        line-height: 1.5;
        margin-bottom: 10px;
        padding-top: 2px;
        background: transparent;
        color: #adadad;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            @include onHover();
        }
    }
}

.center-image {
    margin-top: -30%;
    height: auto !important;
}

.games-list {
    padding-top: 50px;
    font-weight: 500;
    color: #e8e5e0;
    line-height: 1.42857143;

    .game-row {
        @include hoverTransition();
        background-color: #161618;
        box-shadow: rgba(17, 6, 1, 0.5) 0px 2px 4px 0px;
        height: 60px;
        margin-bottom: 15px;
        border-radius: 2px;
        overflow: hidden;
    
        &:hover {
            @include onHover();
        }

        .game-row-image {
            width: 107px;

            .game-image {
                width: 107px;
                border-radius: 2px 0 0 2px;
                object-fit: fill;
                height: 100%;
            }
        }

        .game-row-bar {
            cursor: pointer;
            display: inline-block;    
            width: 4px;
            height: 100%;
        }

        .game-row-title {
            min-width: 200px;
            max-width: 220px;
            padding-left: 13px;
            padding-top: 21px;
        }

        .game-row-image, .game-row-genres, .game-row-title {
            cursor: pointer;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .game-row-release {
            width: 240px;
            max-height: 100%;
            padding-left: 13px;
        }

        .game-row-release-single {
            font-size: 12px;
        }

        .game-row-multirelease {
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;
            max-height: 100%;

            li a {
                display: table-cell;
                vertical-align: middle;
                height: 20px;
            }
        }

        .game-row-release-multi {
            overflow: hidden;
            font-size: 10px;
            text-align: center;
            text-align: -moz-center;
        }

        .game-row-genres {
            width: 180px;
        }

        .game-row-rating {
            width: 96px;
        }

        .game-row-ratingcount {  
            width: 96px;
        }

        .game-row-timetobeat {
            width: 70px;          
        }

        .follow-box {
            width: 50px;
            min-width: 50px;
            float: right;
        }


        .follow-box, .game-row-release, .game-row-platforms, .game-row-rating,  .game-row-ratingcount, .game-row-timetobeat {
            cursor: pointer;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            padding-top: 21px;
        }
    }
}

@media screen and (max-width: 767px) {
    .games-list {
        padding-top: 90px;
    }
}
@media screen and (max-width: 430px) {
    .games-list {
        padding-top: 140px;
    }
}

@media screen and (max-width: 340px) {
    .game-row-title {
        min-width: 20px !important;
    }
}