@import "_variables.scss";
@import "_mixins.scss";
@import "common.scss";

#home { 
    h5 {
        font-weight: 700;
        font-size: 20px;
        color: #e8e0e0;
    }

    .divider {   
        margin-left: -5px;
    }

    .game-slider {
        padding-bottom: 50px;
    }

    .game-box {
        @include game-box();
    }

    .background-image {
        background-image: "D:\hax\Magistrale\Applicazioni e servizi Web\Progetto\whencaniplayit\src\assets\default_cover.jpg";
        background-size: 100%;
        border-radius: 3px 3px 0px 0px;
    }

    .VueCarousel-navigation-button {
        outline: none;
    }

    @media screen and (max-width: 845px) {
        .VueCarousel-navigation { 
            display: none;
        }
    }
    
}