@import "_variables.scss";
@import "_mixins.scss";

#home {
    margin-top: $header_height;
    padding-top: 40px;
    
    h5 {
        font-weight: 700;
        font-size: 20px;
        color: #e8e0e0;
    }

    .jumbotron {
        background-color: $bgColor;
        padding: 2rem 1rem;
    }

    .game-slider {
        padding-bottom: 50px;
    }

    .game-box {
        @include game-box();
    }

    .background-image {
        background-image: "D:\hax\Magistrale\Applicazioni e servizi Web\Progetto\whencaniplayit\src\assets\default_cover.jpg";
        background-size: 100%;
        border-radius: 3px 3px 0px 0px;
    }

    .divider {
        margin-top: 10px;
        margin-left: -5px;
        border-bottom: 1px solid #494a4f;
        margin-bottom: 1.5%;
    }

    .VueCarousel-navigation-button {
        outline: none;
    }
}